<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ejs_test</title>
  <style>
    img {
      height: 200px;
      width: auto;
    }
  </style>
</head>
<body>
  <div>
    <h1>ejs_test</h1>
    <p class='img'> <%= msg %></p>
    <% for(var i=0; i<list.length; i++){ %>
      <p>
          <img src="<%= list[i].path %>">
      </p>
    <%}%>
  </div>
</body>

</html>