<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload</title>
</head>
<body>
    <div>
        <h1>文件上传</h1>
    </div> 
    <form class='form' action="javascript:;" method='post' 
    enctype='multipart/form-data'>
        <input class='file' type="file" name='file'>
        <input type="text" name='aa'>
        <button class='submit'>submit</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var submit = document.querySelector('.submit');
      var form = document.querySelector('.form');
      submit.onclick = () => {
        var formData = new FormData(form);
        axios.post('/upload', formData)
        .then(res => {})
        .catch(err => {})
      }
    </script>
</body>
</html>